body { padding-bottom: 70px; }

.navbar-inverse {
  background-color: #264;
}

.navbar-inverse .navbar-nav > .active > a{
  background-color: #141;
}

.carousel-caption {
  background-color: rgba(70,110,70,.40);
  border-radius: 25px;
}

h5 {
  font-weight: bold;
}
